@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input, textarea, button {
  border: none;
  outline: none;
  background-color: transparent;
  box-sizing: border-box;
  padding: 0;
}

@font-face {
  font-family: 'Acrom';
  src: url("../fonts/acrom/Acrom-Regular.eot");
  src: url("../fonts/acrom/Acrom-Regular.woff2") format("woff2"), url("../fonts/acrom/Acrom-Regular.woff") format("woff"), url("../fonts/acrom/Acrom-Regular.ttf") format("truetype"), url("../fonts/acrom/Acrom-Regular.svg#Acrom-Regular") format("svg"), url("../fonts/acrom/Acrom-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cambria';
  src: url("../fonts/cambria/Cambria.eot");
  src: url("../fonts/cambria/Cambria.woff2") format("woff2"), url("../fonts/cambria/Cambria.woff") format("woff"), url("../fonts/cambria/Cambria.ttf") format("truetype"), url("../fonts/cambria/Cambria.svg#Cambria") format("svg"), url("../fonts/cambria/Cambria.eot?#iefix") format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cambria';
  src: url("../fonts/cambria/cambriab.eot");
  src: url("../fonts/cambria/cambriab.woff2") format("woff2"), url("../fonts/cambria/Cambria-Bold.woff") format("woff"), url("../fonts/cambria/Cambria-Bold.ttf") format("truetype"), url("../fonts/cambria/Cambria-Bold.svg#Cambria-Bold") format("svg"), url("../fonts/cambria/cambriab.eot?#iefix") format("embedded-opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Clinicapro';
  src: url("../fonts/clinicapro/ClinicaPro-Regular.eot");
  src: url("../fonts/clinicapro/ClinicaPro-Regular.woff2") format("woff2"), url("../fonts/clinicapro/ClinicaPro-Regular.woff") format("woff"), url("../fonts/clinicapro/ClinicaPro-Regular.ttf") format("truetype"), url("../fonts/clinicapro/ClinicaPro-Regular.svg#ClinicaPro-Regular") format("svg"), url("../fonts/clinicapro/ClinicaPro-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  font-size: 0;
  font-family: 'Acrom';
}

p {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cambria';
}

h3 {
  font-size: 2rem;
  text-transform: uppercase;
}

.section-header {
  text-align: left;
}

.section-header h2 {
  font-size: 2.5rem;
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
}

.section-header h2:after {
  content: '';
  position: absolute;
  width: 130px;
  height: 4px;
  background-color: #ecdbc7;
  bottom: -28px;
  left: 0;
}

.dib, .main-nav, .main-content, .main-contacts .contacts-phone,
.main-contacts .contacts-cb,
.main-contacts .contacts-sum, .main-contacts .contacts-phone .phone, .main-steps .steps .steps-row .step-el, .main-steps .steps .steps-row .step-el .step-el_number,
.main-steps .steps .steps-row .step-el .step-el_desc, .main-prices .prices .price-el, .main-vip .vip .inner-vip .vip-col, .main-products .products .products-row .product-el, .main-footer .footer-inner .footer-inner_row:last-of-type span,
.main-footer .footer-inner .footer-inner_row:last-of-type a, .mobile .wrapper .mobile-navigation .mob-nav-inn .contacts li i,
.mobile .wrapper .mobile-navigation .mob-nav-inn .contacts li span {
  display: inline-block;
  vertical-align: middle;
}

.fsn, .owl-nav, .main-nav, .main-contacts .contacts-phone .phone, .main-services .services .service-ul, .main-prices .prices .price-el, .main-vip .vip .inner-vip .vip-col, .main-products .products .products-row .product-el, .main-c-double .c-double .c-double_left, .main-c-double .c-double .c-double_form {
  font-size: 1rem;
}

.fs0, .main-contacts, .main-steps .steps .steps-row, .main-vip .vip .inner-vip {
  font-size: 0;
}

.overall-outer {
  position: relative;
}

.overall-outer:before, .overall-outer:after {
  content: '';
  position: absolute;
  width: 50%;
  min-height: 100vh;
  height: 100%;
  top: 0;
  z-index: 1;
}

.overall-outer:before {
  background-color: #000;
  left: 0;
}

.overall-outer:after {
  background-color: #fff;
  right: 0;
}

.overall-outer .overall-inner {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.main-pad, .main-contacts .contacts-phone, .main-steps, .main-services .services .service-el, .main-prices, .main-vip, .main-benefits, .main-serv-more .serv-more .serv-more-el, .main-products, .main-info, .main-footer, .main-c-double, .main-know, .main-range .section-header, .main-range .range-block h3, .main-range .range-block .range-info, .main-servlist .section-header, .main-servlist .servlist .serv-name, .main-servlist .servlist .serv-desc p {
  padding-left: 70px;
}

.main-button {
  height: 46px;
  background-color: #000;
  border-radius: 46px;
  color: #fff;
  width: 200px;
  text-align: center;
  display: inline-block;
  line-height: 46px;
  font-size: 1.33rem;
  transition: background-color .4s;
}

.main-button:hover {
  background-color: #313030;
}

.main-form {
  width: 400px;
  background-color: #ecdbc7;
  padding: 20px 30px 75px;
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

.main-form input {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #000;
  padding: 0 25px;
  font-size: 1.33rem;
}

.main-form input:not(:last-of-type) {
  margin-bottom: 35px;
}

.main-form ::-webkit-input-placeholder {
  color: #000;
  font-family: 'Acrom';
}

.main-form ::-moz-input-placeholder {
  color: #000;
  font-family: 'Acrom';
}

.main-form ::-o-input-placeholder {
  color: #000;
  font-family: 'Acrom';
}

.main-form button {
  position: absolute;
  bottom: -23px;
  left: 30px;
}

.owl-nav {
  position: absolute;
  width: 100%;
  top: 0;
}

.owl-nav > div {
  height: 381px;
  width: 150px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
}

.owl-nav > div i {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.owl-nav .owl-prev {
  left: 0;
  display: none;
}

.owl-nav .owl-prev i {
  background-image: url(../img/prev.png);
}

.owl-nav .owl-next {
  right: 0;
}

.owl-nav .owl-next i {
  background-image: url(../img/next.png);
}

.remodal-overlay {
  background-color: #ecdbc7;
}

.remodal {
  max-width: 400px;
  background: none;
}

.remodal.git-modal .remodal-close {
  left: calc(50% - 300px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #000;
  top: -20%;
}

.remodal.git-modal .remodal-close:before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0;
  width: 20px;
  height: 20px;
  background-image: url(../img/close.png);
  background-size: cover;
}

.remodal.git-modal .git-inner {
  display: table-cell;
  vertical-align: middle;
}

.remodal.git-modal .git-inner .git-form {
  text-align: center;
}

.remodal.git-modal .git-inner .git-form h3 {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.remodal.git-modal .git-inner .git-form form {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
}

.remodal.git-modal .git-inner .git-form form input {
  display: block;
  width: 300px;
  height: 50px;
  line-height: 49px;
  border-bottom: 1px solid #000;
  padding: 0 0;
  font-size: 1.33rem;
}

.remodal.git-modal .git-inner .git-form form input:not(:last-of-type) {
  margin-bottom: 30px;
}

.remodal.git-modal .git-inner .git-form form input:last-of-type {
  margin-bottom: 50px;
}

.remodal.git-modal .git-inner .git-form form ::-webkit-input-placeholder {
  color: #000;
  font-family: 'Acrom';
}

body {
  overflow-x: hidden;
}

.wrapper {
  max-width: 970px;
  width: 100%;
}

/*
 ---- SIDEBAR NAVIGATION ----
*/
.main-nav {
  background-color: #000;
  color: #fff;
  max-width: 200px;
  width: 100%;
  height: 100vh;
  vertical-align: top;
  position: fixed;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: subpixel-antialiased;
  -o-font-smoothing: subpixel-antialiased;
  z-index: 11;
}

.main-nav .wrapper {
  width: 200px;
  margin-left: auto;
}

.main-nav .wrapper .nav-inner_logo {
  margin-bottom: 26px;
}

.main-nav .wrapper .nav-inner_info {
  font-family: 'ClinicaPro';
  margin-bottom: 90px;
  color: #ecdbc7;
}

.main-nav .wrapper .nav-inner_info p {
  line-height: 1.5rem;
}

.main-nav .wrapper .nav-inner_info p:first-of-type {
  margin-bottom: 18px;
}

.main-nav .wrapper .nav-inner_navlist .contacts {
  display: none;
}

.main-nav .wrapper .nav-inner_navlist .nav li a {
  display: block;
  font-size: 1.67rem;
  padding: 20px 0;
  position: relative;
}

.main-nav .wrapper .nav-inner_navlist .nav li a span {
  position: relative;
  z-index: 2;
  transition: color .4s;
}

.main-nav .wrapper .nav-inner_navlist .nav li a:before {
  content: '';
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 1000%;
  right: 150%;
  background-color: #0d0d0d;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s, visibility .4s, right .4s;
}

.main-nav .wrapper .nav-inner_navlist .nav li a:hover span {
  color: #ecdbc7;
}

.main-nav .wrapper .nav-inner_navlist .nav li a:hover:before {
  right: 0;
  opacity: 1;
  visibility: visible;
}

/*
 ---- CONTENT ----
*/
.main-content {
  color: #000;
  background-color: #fff;
  vertical-align: top;
  max-width: 970px;
  width: 100%;
  margin-left: 200px;
}

/*
 ---- CONTACTS ----
*/
.main-contacts {
  background-color: #f6f6f6;
  position: relative;
}

.main-contacts:after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 1000%;
  background-color: #f6f6f6;
}

.main-contacts .contacts-phone {
  max-width: 570px;
  width: 100%;
}

.main-contacts .contacts-phone .phone {
  font-size: 1.67rem;
}

.main-contacts .contacts-phone .phone p {
  margin-top: 10px;
}

.main-contacts .contacts-phone .phone:first-of-type {
  margin-right: 45px;
}

.main-contacts .contacts-cb,
.main-contacts .contacts-sum {
  max-width: 200px;
  width: 100%;
  transition: background-color .4s;
}

.main-contacts .contacts-cb a,
.main-contacts .contacts-sum a {
  text-align: right;
  display: block;
  padding: 20px 40px 20px 0;
  font-size: 1.67rem;
  text-transform: uppercase;
  line-height: 2.5rem;
  transition: padding .4s;
}

.main-contacts .contacts-cb {
  background-color: #e6e6e6;
}

.main-contacts .contacts-cb:hover {
  background-color: #d9d9d9;
}

.main-contacts .contacts-sum {
  background-color: #ecdbc7;
}

.main-contacts .contacts-sum:hover {
  background-color: #e6cfb4;
}

/*
 ---- CONTACTS STUCK ----
*/
.headhesive {
  position: fixed;
  z-index: 10;
  width: 100%;
  left: 50%;
  margin-left: -385px;
  transform: translateY(-300%);
  transition: transform 1s;
}

.headhesive .contacts .contacts-cb a,
.headhesive .contacts .contacts-sum a {
  padding: 7.5px 40px 7.5px 0;
}

.headhesive .contacts:hover .contacts-cb a,
.headhesive .contacts:hover .contacts-sum a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.headhesive--stick {
  transform: translateY(0);
}

/*
 ---- STEPS ----
*/
.main-steps {
  padding-top: 50px;
  min-height: 800px;
  background-image: url(../img/angel-1.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 40px calc(100% + 350px);
  padding-bottom: 170px;
}

.main-steps .section-header {
  margin-bottom: 80px;
}

.main-steps .steps .steps-row {
  position: relative;
}

.main-steps .steps .steps-row .step-el .step-el_number p {
  font-size: 6.5rem;
}

.main-steps .steps .steps-row .step-el .step-el_desc p {
  line-height: 1.7rem;
  font-size: 1.33rem;
}

.main-steps .steps .steps-row .step-el .step-el_desc p .alloc {
  background-color: rgba(236, 219, 199, 0.5);
  display: inline-block;
  padding: 5px;
}

.main-steps .steps .steps-row .step-el.ph-num {
  display: none;
}

.main-steps .steps .steps-row:after {
  content: '';
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

.main-steps .steps .steps-row:not(:last-of-type) {
  margin-bottom: 70px;
}

.main-steps .steps .steps-row .step-el:first-of-type {
  position: relative;
  margin-right: 110px;
}

.main-steps .steps .steps-row .step-el:first-of-type:after {
  content: '';
  position: absolute;
  width: 85px;
  height: 1px;
  background-color: #000;
  left: calc(100% + 10px);
  top: 50%;
}

.main-steps .steps .steps-row:first-of-type .step-el:first-of-type .step-el_number {
  margin-right: 35px;
}

.main-steps .steps .steps-row:first-of-type .step-el:first-of-type .step-el_desc {
  width: 100px;
}

.main-steps .steps .steps-row:first-of-type .step-el:last-of-type .step-el_number {
  margin-right: 15px;
}

.main-steps .steps .steps-row:first-of-type .step-el:last-of-type .step-el_desc {
  width: 315px;
}

.main-steps .steps .steps-row:first-of-type:after {
  width: 200px;
  height: 155px;
  background-image: url(../img/curve-1.png);
  top: 35px;
  right: 50px;
}

.main-steps .steps .steps-row:nth-of-type(2) .step-el:nth-of-type(2) .step-el_number {
  margin-right: 15px;
}

.main-steps .steps .steps-row:nth-of-type(2) .step-el:nth-of-type(2) .step-el_desc {
  width: 250px;
}

.main-steps .steps .steps-row:nth-of-type(2) .step-el:last-of-type .step-el_number {
  margin-right: 20px;
}

.main-steps .steps .steps-row:nth-of-type(2) .step-el:last-of-type .step-el_desc {
  width: 280px;
}

.main-steps .steps .steps-row:nth-of-type(2):after {
  width: 32px;
  height: 127px;
  background-image: url(../img/curve-2.png);
  left: -45px;
  top: 50px;
}

.main-steps .steps .steps-row:last-of-type .step-el:first-of-type .step-el_number {
  margin-right: 15px;
}

.main-steps .steps .steps-row:last-of-type .step-el:first-of-type .step-el_desc {
  width: 320px;
}

.main-steps .steps .steps-row:last-of-type .step-el:last-of-type .step-el_number {
  margin-right: 20px;
}

.main-steps .steps .steps-row:last-of-type .step-el:last-of-type .step-el_desc {
  width: 240px;
}

.main-steps .steps .steps-row:last-of-type:after {
  width: 84px;
  height: 73px;
  background-image: url(../img/curve-3.png);
  right: 105px;
  bottom: -35px;
}

.main-steps .steps-form {
  text-align: right;
}

/*
 ---- SERVICES ----
*/
.main-services {
  position: relative;
}

.main-services .section-header {
  position: absolute;
  top: -117px;
  left: 70px;
}

.main-services .services .service-el:after {
  content: '';
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 1000%;
  transition: background-color .4s;
}

.main-services .services {
  position: relative;
}

.main-services .services .service-el {
  display: block;
  position: relative;
  transition: background-color .4s, color .4s;
  width: 100vw;
}

.main-services .services .service-el .more {
  position: absolute;
  top: 50%;
  font-size: 30px;
  left: 30px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s, visibility .4s, transform .4s;
}

.main-services .services .service-el img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: right .4s, opacity .4s, visibility .4s;
}

.main-services .services .service-el:not(:last-of-type) {
  height: 146px;
}

.main-services .services .service-el:not(:last-of-type) h3 {
  position: absolute;
  line-height: 3.3rem;
  top: 50%;
  transform: translateY(-50%);
}

.main-services .services .service-el:first-of-type {
  background-color: #f6f6f6;
}

.main-services .services .service-el:first-of-type h3 {
  width: 250px;
}

.main-services .services .service-el:first-of-type:after {
  background-color: #f6f6f6;
}

.main-services .services .service-el:nth-of-type(2) {
  background-color: #efefef;
}

.main-services .services .service-el:nth-of-type(2):after {
  background-color: #efefef;
}

.main-services .services .service-el:nth-of-type(3) {
  background-color: #e6e6e6;
}

.main-services .services .service-el:nth-of-type(3):after {
  background-color: #e6e6e6;
}

.main-services .services .service-el:nth-of-type(4) {
  background-color: #ddd;
}

.main-services .services .service-el:nth-of-type(4) h3 {
  width: 325px;
}

.main-services .services .service-el:nth-of-type(4):after {
  background-color: #ddd;
}

.main-services .services .service-el:last-of-type {
  background-color: #f6f6f6;
  line-height: 2rem;
}

.main-services .services .service-el:last-of-type h3 {
  height: 53px;
  line-height: 53px;
}

.main-services .services .service-el:last-of-type:after {
  background-color: #f6f6f6;
}

.main-services .services .service-el:hover .more {
  transform: translateY(-50%);
  opacity: 1;
  visibility: visible;
}

.main-services .services .service-el:hover img {
  opacity: 1;
  visibility: visible;
  right: 25%;
}

.main-serv-more .serv-more .service-ul,
.main-services .services .service-ul {
  position: relative;
  background-color: #313030;
  color: #fff;
  padding: 50px 0;
  padding-left: 70px;
  display: none;
  width: 310%;
  z-index: 100;
}

.main-serv-more .serv-more .service-ul ul li,
.main-services .services .service-ul ul li {
  color: #fff;
  position: relative;
  line-height: 2rem;
  font-size: 14px;
}

.main-serv-more .serv-more .service-ul ul li:after,
.main-services .services .service-ul ul li:after {
  content: '';
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 2px;
  background-color: #fff;
}

/*
 ---- PRICES ----
*/
.main-prices {
  padding-top: 50px;
  padding-bottom: 110px;
}

.main-prices .section-header {
  margin-bottom: 110px;
}

.main-prices .prices .price-el {
  vertical-align: top;
}

.main-prices .prices .price-el .price-el_num {
  margin-bottom: 40px;
}

.main-prices .prices .price-el .price-el_num p {
  font-size: 6.9rem;
  position: relative;
  display: inline-block;
}

.main-prices .prices .price-el .price-el_num p:before {
  content: attr(data-from);
  position: absolute;
  left: 0;
  font-size: 1.83rem;
  color: rgba(0, 0, 0, 0.3);
  top: -20px;
}

.main-prices .prices .price-el .price-el_num p:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  border-top: 4px solid #ecdbc7;
  width: 110%;
  height: 24px;
  background-color: #fff;
}

.main-prices .prices .price-el .price-el_desc h3 {
  font-weight: 700;
  width: 200px;
  line-height: 4rem;
  margin-bottom: 55px;
}

.main-prices .prices .price-el .price-el_desc ul {
  margin-bottom: 35px;
}

.main-prices .prices .price-el .price-el_desc ul li:not(:last-of-type) {
  margin-bottom: 28px;
}

.main-prices .prices .price-el .price-el_desc .price-button {
  position: relative;
}

.main-prices .prices .price-el .price-el_desc .price-button .main-button {
  position: relative;
  z-index: 2;
}

.main-prices .prices .price-el .price-el_desc .price-button .benefit {
  position: absolute;
  width: 200px;
  height: 80px;
  background-color: #ecdbc7;
  padding-top: 55px;
  border-radius: 22px;
  left: 0;
  z-index: 1;
  text-align: center;
}

.main-prices .prices .price-el:first-of-type {
  margin-right: 200px;
}

.main-prices .prices .price-el:first-of-type .price-el_desc {
  max-width: 225px;
}

.main-prices .prices .price-el:last-of-type .price-el_desc {
  max-width: 330px;
}

/*
 ---- VIP PRICES ----
*/
.main-vip {
  background-color: #ecdbc7;
  padding-top: 40px;
  padding-bottom: 55px;
  position: relative;
}

.main-vip:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 1000%;
  background-color: #ecdbc7;
  left: 100%;
  top: 0;
}

.main-vip h2 {
  position: absolute;
  top: -67px;
  font-size: 6.9rem;
  font-family: 'Acrom';
}

.main-vip h2:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 20px;
  background-color: #ecdbc7;
  bottom: -5px;
  left: 0;
}

.main-vip .vip .inner-header h3 {
  font-weight: 700;
  width: 100px;
  line-height: 4rem;
  margin-bottom: 55px;
}

.main-vip .vip .inner-vip .vip-col {
  vertical-align: top;
}

.main-vip .vip .inner-vip .vip-col li:not(:last-of-type) {
  margin-bottom: 25px;
}

.main-vip .vip .inner-vip .vip-col:first-of-type {
  width: 300px;
  margin-right: 65px;
}

.main-vip .vip .inner-vip .vip-col:nth-of-type(2) {
  width: 265px;
  margin-right: 45px;
}

.main-vip .vip .inner-vip .vip-col:last-of-type {
  width: 200px;
}

.main-vip .vip .main-button {
  position: absolute;
  bottom: -23px;
  right: 40px;
}

/*
 ---- BENEFITS ----
*/
.main-benefits {
  position: relative;
  padding-top: 100px;
  padding-bottom: 240px;
  width: 1200px;
  overflow: hidden;
}

.main-benefits .benefits-img {
  position: absolute;
  right: 50px;
  bottom: -300px;
}

.main-benefits .section-header {
  margin-bottom: 85px;
}

.main-benefits .benefits ul li {
  font-size: 1.33rem;
}

.main-benefits .benefits ul li:not(:last-of-type) {
  margin-bottom: 50px;
}

.main-benefits .benefits ul li:first-of-type {
  width: 200px;
}

.main-benefits .benefits ul li:nth-of-type(4), .main-benefits .benefits ul li:nth-of-type(5) {
  width: 230px;
}

.main-benefits .benefits ul li:last-of-type {
  width: 330px;
}

/*
 ---- MORE SERVICES ----
*/
.main-serv-more {
  position: relative;
}

.main-serv-more .section-header {
  position: absolute;
  top: -105px;
  left: 70px;
}

.main-serv-more .serv-more .serv-more-el {
  height: 146px;
  width: 100vw;
  position: relative;
  display: block;
  transition: background-color .4s, color .4s;
}

.main-serv-more .serv-more .serv-more-el h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.main-serv-more .serv-more .serv-more-el .more {
  position: absolute;
  font-size: 30px;
  left: 30px;
  top: 50%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s, visibility .4s, transform .4s;
}

.main-serv-more .serv-more .serv-more-el img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s, visibility .4s, right .4s;
}

.main-serv-more .serv-more .serv-more-el:after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 1000%;
  transition: background-color .4s;
}

.main-serv-more .serv-more .serv-more-el:first-of-type {
  background-color: #f6f6f6;
}

.main-serv-more .serv-more .serv-more-el:first-of-type:after {
  background-color: #f6f6f6;
}

.main-serv-more .serv-more .serv-more-el:last-of-type {
  background-color: #efefef;
}

.main-serv-more .serv-more .serv-more-el:last-of-type:after {
  background-color: #efefef;
}

.main-serv-more .serv-more .serv-more-el:last-of-type:hover img {
  right: 29.5%;
}

.main-serv-more .serv-more .serv-more-el:hover .more {
  opacity: 1;
  visibility: visible;
  transform: translateY(-50%);
}

.main-serv-more .serv-more .serv-more-el:hover img {
  right: 25%;
  opacity: 1;
  visibility: visible;
}

/*
 ---- PRODUCTS RANGE ----
*/
.main-products {
  padding-top: 90px;
  padding-bottom: 75px;
}

.main-products .section-header {
  margin-bottom: 75px;
}

.main-products .products .products-row .trail .product-el_img {
  position: relative;
}

.main-products .products .products-row .trail .product-el_img:after {
  content: '';
  position: absolute;
  top: 0;
  background-color: #efefef;
  height: 100%;
  z-index: 1;
}

.main-products .products .products-row .product-el .product-el_img {
  height: 296px;
  margin-bottom: 10px;
  position: relative;
}

.main-products .products .products-row .product-el .product-el_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1);
  transition: filter .4s;
}

.main-products .products .products-row .product-el .product-el_img .filter {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  transition: transform .4s;
}

.main-products .products .products-row .product-el .product-el_img:hover img {
  filter: grayscale(0);
}

.main-products .products .products-row .product-el .product-el_img:hover .filter {
  transform: scaleX(0);
}

.main-products .products .products-row .product-el.long .product-el_img {
  width: 400px;
}

.main-products .products .products-row .product-el.short .product-el_img {
  width: 200px;
}

.main-products .products .products-row:first-of-type {
  margin-bottom: 55px;
}

.main-products .products .products-row:first-of-type .product-el:first-of-type {
  margin-left: 100px;
  margin-right: 200px;
}

.main-products .products .products-row:first-of-type .product-el:last-of-type .product-el_img:after {
  left: 100%;
  width: 1000%;
}

.main-products .products .products-row:last-of-type .product-el:first-of-type {
  margin-right: 200px;
  margin-left: 100px;
}

.main-products .products .products-row:last-of-type .product-el:first-of-type .product-el_img:after {
  right: 100%;
  width: 170px;
}

/*
 ---- INFO ----
*/
.main-info {
  background-color: #ecdbc7;
  padding-top: 40px;
  padding-bottom: 45px;
  position: relative;
}

.main-info:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 1000%;
  background-color: #ecdbc7;
  left: 100%;
}

.main-info .info p:not(:last-of-type) {
  margin-bottom: 25px;
}

/*
 ---- FOOTER ----
*/
.main-footer {
  background-color: #1c1c1c;
  color: gray;
  padding-top: 55px;
  padding-bottom: 55px;
  position: relative;
}

.main-footer:after {
  content: '';
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 1000%;
  background-color: #1c1c1c;
}

.main-footer .footer-inner h4 {
  font-size: 1.33rem;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.main-footer .footer-inner .footer-inner_row p,
.main-footer .footer-inner .footer-inner_row span,
.main-footer .footer-inner .footer-inner_row a {
  font-size: 1.167rem;
}

.main-footer .footer-inner .footer-inner_row:first-of-type {
  margin-bottom: 10px;
}

.main-footer .footer-inner .footer-inner_row:last-of-type span,
.main-footer .footer-inner .footer-inner_row:last-of-type a {
  vertical-align: top;
}

.main-footer .footer-inner .footer-inner_row:last-of-type span:first-of-type {
  margin-right: 250px;
}

.main-footer .footer-inner .footer-inner_row:last-of-type a {
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 1px solid gray;
}

.main-footer .footer-inner .footer-inner_row:last-of-type a:first-of-type {
  margin-right: 80px;
}

.main-footer .footer-inner .footer-inner_row:last-of-type a:last-of-type {
  margin-right: 130px;
}

/*
 ---- MOBILE NAV ----
*/
.mobile {
  display: none;
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
  background-color: #000;
  color: #fff;
}

.mobile .wrapper {
  width: 95%;
  padding: 10px 0;
  position: relative;
  margin: 0 auto;
}

.mobile .wrapper .logo {
  display: inline-block;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.mobile .wrapper .logo img {
  height: 50px;
}

.mobile .wrapper button {
  position: absolute;
  right: 0;
  top: 15px;
  overflow: hidden;
  background-size: 80%;
  width: 40px;
  height: 40px;
  transition: all 400ms ease;
  background-color: #fff;
  color: #000;
  border: 2px solid transparent;
}

.mobile .wrapper button i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.mobile .wrapper button.expanded {
  transform: rotate(90deg);
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}

.mobile .wrapper .mobile-navigation {
  display: none;
  height: 100vh;
  text-align: center;
  position: relative;
}

.mobile .wrapper .mobile-navigation .mob-nav-inn {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobile .wrapper .mobile-navigation .mob-nav-inn .nav {
  margin-bottom: 50px;
}

.mobile .wrapper .mobile-navigation .mob-nav-inn .nav li {
  display: block;
}

.mobile .wrapper .mobile-navigation .mob-nav-inn .nav li a {
  display: inline-block;
  width: 200px;
  padding: 15px 0;
  background-color: #0d0d0d;
  color: #fff;
  transition: all .4s ease;
  font-size: 1rem;
}

.mobile .wrapper .mobile-navigation .mob-nav-inn .nav li a:hover {
  color: #fff;
}

.mobile .wrapper .mobile-navigation .mob-nav-inn .nav li:not(:last-of-type) {
  margin-bottom: 5px;
}

.mobile .wrapper .mobile-navigation .mob-nav-inn .contacts {
  font-size: 1rem;
}

.mobile .wrapper .mobile-navigation .mob-nav-inn .contacts li {
  padding: 10px 0;
}

.mobile .wrapper .mobile-navigation .mob-nav-inn .contacts li i {
  margin-right: 10px;
}

.main-c-double {
  padding-top: 50px;
  padding-bottom: 170px;
  background-image: url(../img/angel-1.png);
  background-repeat: no-repeat;
  background-position: 50px -89%;
}

.main-c-double .section-header {
  margin-bottom: 70px;
}

.main-c-double .c-double > div {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.main-c-double .c-double .c-double_left ul li:first-of-type {
  margin-bottom: 50px;
}

.main-c-double .c-double .c-double_left ul li:not(:first-of-type) a {
  font-size: 1.67rem;
}

.main-c-double .c-double .c-double_left ul li:not(:first-of-type) span {
  display: block;
  margin-top: 10px;
}

.main-c-double .c-double .c-double_left ul li:nth-of-type(2) {
  margin-bottom: 40px;
}

.main-c-double .c-double .c-double_form {
  text-align: right;
}

.main-c-double .c-double .c-double_form form {
  display: inline-block;
}

.main-know {
  padding-top: 50px;
  padding-bottom: 70px;
}

.main-know .section-header {
  margin-bottom: 50px;
}

.main-know .know p:first-of-type {
  margin-bottom: 20px;
}

.main-range {
  padding-top: 50px;
}

.main-range .section-header {
  margin-bottom: 65px;
}

.main-range .range-block h3 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.main-range .range-block .range-carousel {
  position: relative;
}

.main-range .range-block .range-carousel .item {
  height: 381px;
}

.main-range .range-block .range-carousel .item a {
  display: block;
  height: 100%;
}

.main-range .range-block .range-carousel .item a img {
  widht: 100%;
  height: 100%;
  object-fit: cover;
}

.main-range .range-block .range-info {
  padding-top: 50px;
  padding-bottom: 35px;
}

.main-range .range-block .range-info p {
  line-height: 1.5rem;
}

.main-range .range-block .range-info p:first-of-type {
  margin-bottom: 25px;
}

.main-servlist {
  padding-top: 50px;
}

.main-servlist .section-header {
  margin-bottom: 85px;
}

.main-servlist .servlist {
  padding-bottom: 75px;
}

.main-servlist .servlist .serv-name {
  height: 146px;
  background-color: #f6f6f6;
  position: relative;
  margin-bottom: 30px;
}

.main-servlist .servlist .serv-name h3 {
  font-size: 2rem;
  text-transform: uppercase;
  width: 300px;
  line-height: 3.3rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.main-servlist .servlist .serv-name:after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 1000%;
}

.main-servlist .servlist .serv-name img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.main-servlist .servlist .serv-desc p {
  line-height: 1.5rem;
}

.main-servlist .servlist .serv-desc p:not(:last-of-type) {
  margin-bottom: 25px;
}

.main-servlist .servlist .serv-desc p:last-of-type {
  margin-bottom: 45px;
}

.main-servlist .servlist .serv-desc .transport {
  margin-bottom: 55px;
}

.main-servlist .servlist .serv-desc .transport .item {
  height: 381px;
}

.main-servlist .servlist .serv-desc .transport .item a {
  display: block;
  height: 100%;
}

.main-servlist .servlist .serv-desc .transport .item a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-servlist .servlist .serv-desc .transport .owl-nav > div {
  height: 383px;
}

.main-servlist .servlist .serv-desc .transport .owl-nav .owl-next {
  right: -1px;
}

.main-servlist .servlist .serv-desc .serv-btn {
  text-align: center;
}

.main-servlist .servlist:first-of-type .serv-name {
  background-color: #f6f6f6;
}

.main-servlist .servlist:first-of-type .serv-name:after {
  background-color: #f6f6f6;
}

.main-servlist .servlist:nth-of-type(2) .serv-name {
  background-color: #efefef;
}

.main-servlist .servlist:nth-of-type(2) .serv-name:after {
  background-color: #efefef;
}

.main-servlist .servlist:nth-of-type(3) .serv-name {
  background-color: #e6e6e6;
}

.main-servlist .servlist:nth-of-type(3) .serv-name:after {
  background-color: #e6e6e6;
}

.main-servlist .servlist:nth-of-type(4) .serv-name {
  background-color: #ddd;
}

.main-servlist .servlist:nth-of-type(4) .serv-name:after {
  background-color: #ddd;
}

.main-servlist .servlist:nth-of-type(5) .serv-name {
  background-color: #f6f6f6;
}

.main-servlist .servlist:nth-of-type(5) .serv-name:after {
  background-color: #f6f6f6;
}

.main-servlist .servlist:last-of-type .serv-name {
  background-color: #efefef;
}

.main-servlist .servlist:last-of-type .serv-name:after {
  background-color: #efefef;
}

/*
	---- HOME PAGE MQ ----
*/
@media screen and (max-width: 1200px) {
  .headhesive {
    display: none;
  }
  .overall-outer:after, .overall-outer:before {
    display: none;
  }
  .main-nav {
    position: static;
    height: auto;
    width: 100%;
    max-width: 100%;
  }
  .main-nav .wrapper {
    width: 95%;
    max-width: 100%;
    margin: 0 auto;
    font-size: 0;
  }
  .main-nav .wrapper .nav-inner_logo,
  .main-nav .wrapper .nav-inner_navlist {
    display: inline-block;
    vertical-align: middle;
  }
  .main-nav .wrapper .nav-inner_logo {
    width: 30%;
    margin-bottom: 0;
  }
  .main-nav .wrapper .nav-inner_logo a {
    height: 100%;
    display: block;
    padding: 10px 0;
  }
  .main-nav .wrapper .nav-inner_logo a img {
    height: 50px;
  }
  .main-nav .wrapper .nav-inner_info {
    display: none;
  }
  .main-nav .wrapper .nav-inner_navlist {
    text-align: right;
    width: 70%;
  }
  .main-nav .wrapper .nav-inner_navlist .contacts {
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .main-nav .wrapper .nav-inner_navlist .contacts li {
    display: inline-block;
    vertical-align: middle;
  }
  .main-nav .wrapper .nav-inner_navlist .contacts li:not(:last-of-type) {
    margin-right: 20px;
  }
  .main-nav .wrapper .nav-inner_navlist .nav {
    display: inline-block;
  }
  .main-nav .wrapper .nav-inner_navlist .nav li {
    display: inline-block;
    vertical-align: middle;
  }
  .main-nav .wrapper .nav-inner_navlist .nav li:not(:last-of-type) {
    margin-right: 20px;
  }
  .main-nav .wrapper .nav-inner_navlist .nav li a {
    font-size: 1.3rem;
    padding: 0;
  }
  .main-nav .wrapper .nav-inner_navlist .nav li a:before {
    display: none;
  }
  .main-content {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
  }
  .main-content .main-contacts {
    display: none;
  }
  .main-content .main-services .services .service-el {
    width: 100%;
  }
  .main-content .main-services .services .service-el img {
    right: -20%;
  }
  .main-content .main-services .services .service-el:hover img {
    right: -5%;
  }
  .main-content .main-services .services .service-el:hover .more {
    display: none;
  }
  .main-content .main-serv-more .serv-more .serv-more-el {
    width: 100%;
  }
  .main-content .main-serv-more .serv-more .serv-more-el img {
    right: -20%;
  }
  .main-content .main-serv-more .serv-more .serv-more-el:hover img {
    right: -5%;
  }
  .main-content .main-serv-more .serv-more .serv-more-el:hover .more {
    display: none;
  }
  .main-content .main-benefits {
    width: 100%;
  }
  .main-content .main-benefits .benefits-img {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .main-content .main-steps {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  .main-content .main-steps .steps .steps-row {
    margin-bottom: 0;
  }
  .main-content .main-steps .steps .steps-row:after {
    display: none;
  }
  .main-content .main-steps .steps .steps-row .step-el {
    display: block;
    margin-bottom: 20px;
  }
  .main-content .main-steps .steps .steps-row .step-el .step-el_number {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    background-color: #ecdbc7;
    position: relative;
  }
  .main-content .main-steps .steps .steps-row .step-el .step-el_number p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }
  .main-content .main-steps .steps .steps-row .step-el:after {
    display: none;
  }
  .main-content .main-steps .steps .steps-row .step-el.dt-num {
    display: none;
  }
  .main-content .main-steps .steps .steps-row:first-of-type .step-el {
    margin-right: 0;
  }
  .main-content .main-steps .steps .steps-row:first-of-type .step-el .step-el_number {
    margin-right: 10px;
  }
  .main-content .main-steps .steps .steps-row:first-of-type .step-el .step-el_desc {
    width: auto;
  }
  .main-content .main-steps .steps .steps-row:nth-of-type(2) .step-el .step-el_desc {
    width: auto;
  }
  .main-content .main-steps .steps .steps-row:nth-of-type(2) .step-el:first-of-type {
    margin-right: 0;
  }
  .main-content .main-steps .steps .steps-row:last-of-type .step-el .step-el_desc {
    width: 90%;
  }
  .main-content .main-steps .steps .steps-row:last-of-type .step-el:first-of-type {
    margin-right: 0;
  }
  .main-content .main-services .section-header {
    left: 2.5%;
  }
  .main-content .main-services .services .service-el {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  .main-content .main-services .services .service-el .more {
    right: 50px;
    left: auto;
  }
  .main-content .main-prices {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  .main-content .main-prices .prices .price-el:first-of-type {
    margin-right: 148px;
  }
  .main-content .main-vip {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  .main-content .main-vip:after {
    display: none;
  }
  .main-content .main-vip .vip .inner-vip .vip-col {
    width: 30%;
  }
  .main-content .main-vip .vip .inner-vip .vip-col:not(:last-of-type) {
    margin-right: 5%;
  }
  .main-content .main-benefits {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  .main-content .main-serv-more .section-header {
    left: 2.5%;
  }
  .main-content .main-serv-more .serv-more-el {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  .main-content .main-serv-more .serv-more-el .more {
    right: 50px;
    left: auto;
  }
  .main-content .main-products {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  .main-content .main-products .products .products-row .product-el {
    width: 49%;
  }
  .main-content .main-products .products .products-row .product-el .product-el_img {
    width: 100%;
  }
  .main-content .main-products .products .products-row .product-el .product-el_img:after {
    display: none;
  }
  .main-content .main-products .products .products-row:first-of-type .product-el:first-of-type {
    margin: 0;
    margin-right: 2%;
  }
  .main-content .main-products .products .products-row:last-of-type .product-el:first-of-type {
    margin: 0;
    margin-right: 2%;
  }
  .main-content .main-info {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  .main-content .main-footer {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  .main-content .main-footer .footer-inner .footer-inner_row:last-of-type span,
  .main-content .main-footer .footer-inner .footer-inner_row:last-of-type a {
    display: block;
  }
  .main-content .main-footer .footer-inner .footer-inner_row:last-of-type span:not(:last-child),
  .main-content .main-footer .footer-inner .footer-inner_row:last-of-type a:not(:last-child) {
    margin-bottom: 10px;
  }
  .main-content .main-footer .footer-inner .footer-inner_row:last-of-type a {
    border-bottom: 0;
    text-decoration: underline;
  }
}

@media screen and (max-width: 768px) {
  .main-nav {
    display: none;
  }
  .navigation.mobile {
    display: block;
  }
  .main-content {
    margin-top: 70px;
  }
  .main-content .main-steps {
    background-image: none;
  }
  .main-content .main-steps .steps .steps-row .step-el {
    margin-bottom: 20px;
    position: relative;
  }
  .main-content .main-steps .steps .steps-row .step-el:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    border-top: 2px solid #ecdbc7;
    border-bottom: 2px solid #000;
  }
  .main-content .main-steps .steps .steps-row .step-el .step-el_number {
    margin-bottom: 10px;
  }
  .main-content .main-steps .steps .steps-row .step-el .step-el_desc {
    display: block;
  }
  .main-content .main-steps .steps-form {
    width: 100%;
    text-align: left;
  }
  .main-content .main-services .section-header {
    top: -70px;
  }
  .main-content .main-prices .prices .price-el {
    width: 49%;
  }
  .main-content .main-prices .prices .price-el .price-el_num p {
    font-size: 4rem;
  }
  .main-content .main-prices .prices .price-el .price-el_num p:after {
    bottom: -15px;
  }
  .main-content .main-prices .prices .price-el:first-of-type {
    margin-right: 2%;
  }
}

@media screen and (max-width: 544px) {
  .main-content .main-steps .steps-form form {
    width: 100%;
  }
  .main-content .main-services .services .service-el:first-of-type h3, .main-content .main-services .services .service-el:nth-of-type(4) h3 {
    width: auto;
  }
  .main-content .main-services .services .service-el .more {
    display: none;
  }
  .main-content .main-prices .prices .price-el {
    width: 100%;
  }
  .main-content .main-prices .prices .price-el:first-of-type {
    margin-bottom: 100px;
  }
  .main-content .main-prices .prices .price-el h3 {
    width: auto;
  }
  .main-content .main-prices .prices .price-el .price-el_num {
    margin-bottom: 20px;
  }
  .main-content .main-prices .prices .price-el .price-el_num p:after {
    bottom: -5px;
    height: 4px;
    width: 100%;
  }
  .main-content .main-prices .prices .price-el .price-el_desc {
    max-width: 100%;
  }
  .main-content .main-prices .prices .price-el .price-el_desc h3 {
    margin-bottom: 20px;
  }
  .main-content .main-vip h2 {
    font-size: 4rem;
    top: auto;
    bottom: 100%;
  }
  .main-content .main-vip h2:after {
    display: none;
  }
  .main-content .main-vip .vip .inner-header h3 {
    width: auto;
    margin-bottom: 20px;
  }
  .main-content .main-vip .vip .inner-vip .vip-col {
    width: 100%;
    list-style: disc;
    padding-left: 10px;
  }
  .main-content .main-vip .vip .inner-vip .vip-col li:not(:last-of-type) {
    margin-bottom: 5px;
  }
  .main-content .main-vip .vip .inner-vip .vip-col:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .main-content .main-benefits .benefits ul li {
    width: auto;
  }
  .main-content .main-serv-more .serv-more .serv-more-el .more {
    display: none;
  }
  .main-content .main-products .products .products-row .product-el {
    width: 100%;
  }
  .main-content .main-products .products .products-row:first-of-type .product-el:first-of-type {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .main-content .main-products .products .products-row:last-of-type .product-el:first-of-type {
    margin-right: 0;
    margin-bottom: 50px;
  }
}

/*
---- CONTACTS PAGE MQ ----
*/
@media screen and (max-width: 992px) {
  .main-content .main-c-double {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}

@media screen and (max-width: 768px) {
  .main-content .main-c-double {
    background-image: none;
    padding-bottom: 70px;
  }
  .main-content .main-c-double .c-double .c-double_left,
  .main-content .main-c-double .c-double .c-double_form {
    width: 100%;
    display: block;
  }
  .main-content .main-c-double .c-double .c-double_left {
    margin-bottom: 50px;
  }
  .main-content .main-c-double .c-double .c-double_form {
    text-align: left;
  }
}

@media screen and (max-width: 544px) {
  .main-content .main-c-double .c-double .c-double_form .main-form {
    width: 100%;
    max-width: 100%;
  }
}

/*
---- PRICES PAGE MQ ----
*/
@media screen and (max-width: 992px) {
  .main-content .main-know {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}

/*
---- RANGE PAGE MQ ----
*/
@media screen and (max-width: 1200px) {
  .main-content .main-range {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}

@media screen and (max-width: 992px) {
  .main-content .main-range .section-header {
    padding-left: 0;
  }
  .main-content .main-range .range-block h3 {
    padding-left: 0;
  }
  .main-content .main-range .range-block .range-carousel .owl-nav > div {
    width: 50px;
  }
  .main-content .main-range .range-block .range-carousel .owl-nav > div i {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
  }
  .main-content .main-range .range-block .range-carousel .owl-nav .owl-prev {
    display: block;
  }
  .main-content .main-range .range-block .range-info {
    padding-left: 0;
  }
}

/*
---- SERVICES PAGE MQ ----
*/
@media screen and (max-width: 1200px) {
  .main-content .main-servlist {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}

@media screen and (max-width: 992px) {
  .main-content .main-servlist .section-header {
    padding-left: 0;
  }
  .main-content .main-servlist .servlist .serv-name {
    padding-left: 2.5%;
    margin-left: -2.5%;
  }
  .main-content .main-servlist .servlist .serv-desc p {
    padding-left: 0;
  }
  .main-content .main-servlist .servlist .serv-desc .transport .owl-nav > div {
    width: 50px;
  }
  .main-content .main-servlist .servlist .serv-desc .transport .owl-nav > div i {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
  }
  .main-content .main-servlist .servlist .serv-desc .transport .owl-nav .owl-prev {
    display: block;
  }
}

@media screen and (max-width: 425px) {
  .remodal.git-modal .remodal-close {
    left: calc(50% - 150px);
  }
}
