@font-face {
  font-family: 'Cambria-Bold';
  src: url('Cambria-Bold.woff') format('woff'),
       url('Cambria-Bold.ttf') format('truetype'),
       url('Cambria-Bold.svg#Cambria-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cambriab';
  src: url('cambriab.eot');
  src: url('cambriab.woff2') format('woff2'),
       url('cambriab.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

